<div>
    <app-navbar></app-navbar>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="contenedorTitulo">
                <h1 class="titulo">Registrar y ver ingresos</h1>
            </div>
            <div style="z-index: 1; margin-left: -16px; width: 100%; background: black; opacity: 0.5; height: 400px;" class="position-absolute">
            </div>
            <div style="width: 100%; height: 400px; background-image: url('./../../assets/img/portada.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ProductSans mt-3">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header text-center text-white" style="background:#004D40;"><h3>Ingresar Paciente</h3></div>
                    <div class="card-body">
                        <form [formGroup]="fg">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="NombrePaciente">
                                    <mat-option *ngFor="let pac of todosPacientes, let i = index" [value]="i">{{pac.Nombre}}</mat-option>
                                </mat-select>
                                <mat-label class="ProductSans"><i class="fas fa-user"></i> 
                                Nombre del Paciente</mat-label>
                            </mat-form-field>

                            <div *ngIf="NombrePaciente.invalid &&(NombrePaciente.touched || NombrePaciente.dirty)">
                                <mat-error *ngIf="NombrePaciente.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                           </div>

                           <mat-form-field style="width: 100%;">
                               <mat-label><i class="fas fa-list-ol"></i> 
                                Número de habitación</mat-label>
                                <mat-select formControlName="NoHabitacion">
                                    <mat-option *ngFor="let hab of todasHabitaciones, let i = index" [value]="i">{{hab.Numero}}</mat-option>
                                </mat-select>
                           </mat-form-field>

                           <div *ngIf="NoHabitacion.invalid &&(NoHabitacion.touched || NoHabitacion.dirty)">
                            <mat-error *ngIf="NoHabitacion.errors.required">
                                Este campo es <strong>obligatorio</strong>
                            </mat-error>
                            </div>
                                
                        <mat-form-field style="width: 100%;">
                                <mat-label>Fecha de ingreso: </mat-label>
                                <input matInput formControlName="Fecha" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div *ngIf="Fecha.invalid &&(Fecha.touched || Fecha.dirty)">
                            <mat-error *ngIf="Fecha.errors.required">
                                Este campo es <strong>obligatorio</strong>
                            </mat-error>
                        </div>

                        </form>
                        <div style="width: 100%;" class="text-center">
                            <button mat-raised-button class="text-white" (click)="addIngreso()" color="accent" [disabled]="!fg.valid"><i class="fas fa-plus-circle"></i>
                            Registrar Ingreso</button>
                        </div>
                        <mat-error *ngIf="errorMessage != ''">
                            <p class="text-center">{{this.errorMessage}}</p>
                        </mat-error>
                </div>
            </div>
        </div>
            <div class="col-md-8">
               <div class="card mb-4">
                <div class="card-header ProductSans text-center text-white" style="background: #004D40;"><h3>Ingresos Actuales</h3></div>
                <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl ">
                        <thead>
                            <tr class="text-center">
                                <th>No.</th>
                                <th>Nombre del paciente</th>
                                <th>Número de habitación</th>
                                <th>Fecha de ingreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let item of todosIngresos, let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.NombrePaciente}}</td>
                                <td>{{item.NumeroHabitacion}}</td>
                                <td>{{item.FechaIngreso}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               </div> 
            </div>
        </div>
    </div>
