<footer class="page-footer font-small pt-4 text-white ProductSans" style="background-color:#00897B;">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Sistema Médico</h5>
          <p>Este sistema tiene el objetivo de gestionar un sistema médico, permitiendo al usuario añadir médicos, pacientes y habitaciones y gestionar ingresos, altas médicas y agendar citas, con una alta comodidad en el diseño y facilidad para usarlo.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Módulos</h5>
          <ul class="list-unstyled navegador">
            <li><a mat-button (click)="Medicos()">Administrar Médicos</a></li>
            <li><a mat-button (click)="Pacientes()">Administrar Pacientes</a></li>
            <li><a mat-button (click)="Habitaciones()">Administrar Habitaciones</a></li>
            <li><a mat-button (click)="Citas()">Agendar Citas</a></li>
            <li><a mat-button (click)="Ingresos()">Registrar Ingresos</a></li>
            <li><a mat-button (click)="AltaMedica()">Dar Altas Médicas</a></li>
          </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3" style="background-color: #00695C;">© 2020 Copyright:
      Erlyn Emmanuel Taveras Villaman
    </div>
  </footer>