<h1 mat-dialog-title class="text-center">Confirmar</h1>
<div mat-dialog-content>
  <p class="text-justify"><b class="text-danger">¿Estás seguro de querer eliminar a este elemento?</b> Se perderán también datos secundarios como citas, ingresos y altas médicas, y no podrás recuperarlos.</p>    
</div>
<div class="row">
  <div class="col-md-6">
    <div mat-dialog-actions class="text-center">
      <button mat-button (click)="onNoClick()" class="text-success"><i class="fas fa-check-circle"></i>
        Cancelar</button>
    </div>
  </div>
  <div class="col-md-6">    
    <div mat-dialog-actions class="text-center">
    <button mat-button [mat-dialog-close]="true" class="text-danger"><i class="fas fa-trash"></i>
        Eliminar</button>
    </div>
</div>
</div>