<div>
    <app-navbar></app-navbar>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="contenedorTitulo">
                <h1 class="titulo">Administración de citas</h1>
            </div>
            <div style="z-index: 1; margin-left: -16px; width: 100%; background: black; opacity: 0.5; height: 400px;" class="position-absolute">
            </div>
            <div style="width: 100%; height: 400px; background-image: url('./../../assets/img/portada.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ProductSans mt-3">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header text-center text-white" style="background:#004D40;"><h3>Agendar Cita</h3></div>
                    <div class="card-body">
                        <form [formGroup]="fg">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="NombreMedico">
                                    <mat-option *ngFor="let med of todosMedicos, let i = index" [value]="i">{{med.Nombre}}</mat-option>
                                </mat-select>
                                <mat-label class="ProductSans"><i class="fas fa-user-md"></i> 
                                Nombre del médico</mat-label>
                            </mat-form-field>

                            <div *ngIf="NombreMedico.invalid &&(NombreMedico.touched || NombreMedico.dirty)">
                                <mat-error *ngIf="NombreMedico.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                           </div>

                           <mat-form-field style="width: 100%;">
                               <mat-label><i class="fas fa-user"></i> 
                                Nombre del paciente</mat-label>
                                <mat-select formControlName="NombrePaciente">
                                    <mat-option *ngFor="let pac of todosPacientes, let i = index" [value]="i">{{pac.Nombre}}</mat-option>
                                </mat-select>
                           </mat-form-field>

                           <div *ngIf="NombrePaciente.invalid &&(NombrePaciente.touched || NombrePaciente.dirty)">
                            <mat-error *ngIf="NombrePaciente.errors.required">
                                Este campo es <strong>obligatorio</strong>
                            </mat-error>
                            </div>
                                
                        <mat-form-field style="width: 100%;">
                                <mat-label>Fecha: </mat-label>
                                <input matInput formControlName="Fecha" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div *ngIf="Fecha.invalid &&(Fecha.touched || Fecha.dirty)">
                            <mat-error *ngIf="Fecha.errors.required">
                                Este campo es <strong>obligatorio</strong>
                            </mat-error>
                        </div>

                        <div class="form-group">
                            <label style="color: gray"><i class="fas fa-clock"></i>
                            Hora</label>
                            <input formControlName="Hora" type="time" class="pickermio">
                        </div>

                        </form>
                        <div style="width: 100%;" class="text-center">
                            <button mat-raised-button class="text-white" (click)="addCita()" color="accent" [disabled]="!fg.valid"><i class="fas fa-plus-circle"></i>
                            Agendar Cita</button>
                        </div>
                </div>
            </div>
        </div>
            <div class="col-md-8">
               <div class="card mb-4">
                <div class="card-header ProductSans text-center text-white" style="background: #004D40;"><h3>Citas agendadas</h3>
                    <mat-card>
                        <form [formGroup]="busquedas">
                            <mat-form-field>
                                <mat-label>Filtrar por</mat-label>
                                <mat-select formControlName="Filtro" (ngModelChange)="cambiarControl($event)">
                                    <mat-option value="nada" disabled><b>Escoge una opción</b></mat-option>
                                    <mat-option value="NombreMedico">Médico</mat-option>
                                    <mat-option value="NombrePaciente">Paciente</mat-option>
                                    <mat-option value="Fecha">Fecha</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="ml-3" style="width: 70%;" *ngIf="!esFecha">
                                <mat-label>Busqueda</mat-label>
                                <input matInput formControlName="Busqueda" type="text" placeholder="Escribe lo que deseas buscar...">
                            </mat-form-field>
                            <mat-form-field class="ml-3" style="width: 50%;" *ngIf="esFecha">
                                <mat-label>Fecha: </mat-label>
                                <input matInput formControlName="FechaBusqueda" [matDatepicker]="pickerBusqueda" readonly="true">
                                <mat-datepicker-toggle matSuffix [for]="pickerBusqueda"></mat-datepicker-toggle>
                                <mat-datepicker #pickerBusqueda></mat-datepicker>
                            </mat-form-field>
                            <mat-checkbox formControlName="Total">Total de resultados de la búsqueda</mat-checkbox>
                        </form>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-2">
                                    <button mat-raised-button color="accent" (click)="Search()"><i class="fas fa-search"></i>
                                    Buscar</button>
                            </div>
                            <div class="col-md-2">
                                    <button mat-raised-button color="accent" (click)="obtenerCitas()"><i class="fas fa-undo-alt"></i>
                                    Reiniciar Búsqueda
                                    </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl ">
                        <thead>
                            <tr class="text-center">
                                <th>No.</th>
                                <th>Nombre del médico</th>
                                <th>Nombre del paciente</th>
                                <th>Fecha de la cita</th>
                                <th>Hora de la cita</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let item of todasCitas, let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.NombreMedico}}</td>
                                <td>{{item.NombrePaciente}}</td>
                                <td>{{item.Fecha}}</td>
                                <td>{{item.Hora}}</td>
                                <td><button mat-button class="text-danger" (click)="deleteCita(i)"><i class="fas fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro =='NombrePaciente' && totalCitas != null">Total de pacientes con este nombre: {{this.totalCitas}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'NombreMedico' && totalCitas != null">Total de médicos con este nombre: {{this.totalCitas}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Fecha' && totalCitas != null">Total de fechas encontradas: {{this.totalCitas}}</p>
                            </div>
                        </div>
                    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
