<div>
    <app-navbar></app-navbar>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="contenedorTitulo">
                <h1 class="titulo">Altas Médicas</h1>
            </div>
            <div style="z-index: 1; margin-left: -16px; width: 100%; background: black; opacity: 0.5; height: 400px;" class="position-absolute">
            </div>
            <div style="width: 100%; height: 400px; background-image: url('./../../assets/img/portada.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ProductSans mt-3">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header text-center text-white" style="background:#004D40;"><h3>Seleccionar Ingreso</h3></div>
                    <div class="card-body">
                    <form [formGroup]="fg">
                            <mat-form-field style="width: 100%;">
                                <mat-select formControlName="idIngresos" (ngModelChange)="buscarIngreso($event)">
                                    <mat-option *ngFor="let ing of todosIngresos, let i = index" [value]="i">{{ing.idIngreso}}</mat-option>
                                </mat-select>
                                <mat-label class="ProductSans"><i class="fas fa-key"></i> 
                                Id de ingreso</mat-label>
                            </mat-form-field>

                            <div *ngIf="idIngresos.invalid &&(idIngresos.touched || idIngresos.dirty)">
                                <mat-error *ngIf="idIngresos.errors.required">
                                    Debes elegir un id para llenar los demás datos
                                </mat-error>
                            </div>

                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="Paciente" readonly="true">
                                <mat-label class="ProductSans"><i class="fas fa-user"></i> 
                                Nombre del paciente</mat-label>
                            </mat-form-field>

                            <div *ngIf="Paciente.invalid &&(Paciente.dirty || Paciente.touched)">
                                <mat-error *ngIf="Paciente.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                            </div>

                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" formControlName="NumeroHab" readonly="true">
                                <mat-label class="ProductSans"><i class="fas fa-list-ol"></i> 
                                Número de habitación</mat-label>
                            </mat-form-field>

                            <div *ngIf="NumeroHab.invalid &&(NumeroHab.dirty || NumeroHab.touched)">
                                <mat-error *ngIf="NumeroHab.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                            </div>

                            <mat-form-field style="width: 100%;">
                                <mat-label>Fecha de ingreso </mat-label>
                                <input matInput formControlName="FechaIngreso" [matDatepicker]="picker1" readonly="true">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="true"></mat-datepicker>
                            </mat-form-field>

                            <div *ngIf="FechaIngreso.invalid &&(FechaIngreso.touched || FechaIngreso.dirty)">
                                <mat-error *ngIf="FechaIngreso.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                            </div>

                            <mat-form-field style="width: 100%;">
                                <mat-label>Fecha de salida </mat-label>
                                <input matInput formControlName="FechaSalida" [matDatepicker]="picker2" readonly="true">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 disabled="true"></mat-datepicker>
                            </mat-form-field>

                            <div *ngIf="FechaSalida.invalid &&(FechaSalida.touched || FechaSalida.dirty)">
                                <mat-error *ngIf="FechaSalida.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                            </div>

                            <div *ngIf="errorMessage != ''">
                                <mat-error>
                                    {{errorMessage}}
                                </mat-error>
                            </div>

                            <div *ngIf="comprobar">
                                <p class="text-center text-success ProductSans"><i class="fas fa-money-bill-wave"></i>Monto total a pagar: RD$ {{this.Monto}}</p>
                            </div>
                    </form>
                    <div style="width: 100%;" class="text-center">
                        <button mat-raised-button class="text-white" (click)="CalcularMonto()" color="accent" [disabled]="!fg.valid"><i class="fas fa-calculator"></i>
                        Calcular Monto</button>
                    </div>
                    <div style="width: 100%;" class="text-center mt-3" *ngIf="comprobar">
                        <button mat-raised-button class="text-white" (click)="addAlta()" color="accent" ><i class="fas fa-check-circle"></i>
                        Registrar Alta Médica</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header ProductSans text-center text-white" style="background: #004D40;"><h3>Altas médicas realizadas</h3>
                    <mat-card>
                        <form [formGroup]="busquedas">
                            <mat-form-field>
                                <mat-label>Filtrar por</mat-label>
                                <mat-select formControlName="Filtro" (ngModelChange)="cambiarControl($event)">
                                    <mat-option value="nada" disabled><b>Escoge una opción</b></mat-option>
                                    <mat-option value="Paciente">Paciente</mat-option>
                                    <mat-option value="Fecha">Fecha</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="ml-3" style="width: 70%;" *ngIf="!esFecha">
                                <mat-label>Busqueda</mat-label>
                                <input matInput formControlName="Busqueda" type="text" placeholder="Escribe lo que deseas buscar...">
                            </mat-form-field>
                            <mat-form-field class="ml-3" style="width: 50%;" *ngIf="esFecha">
                                <mat-label>Fecha: </mat-label>
                                <input matInput formControlName="FechaBusqueda" [matDatepicker]="pickerBusqueda" readonly="true">
                                <mat-datepicker-toggle matSuffix [for]="pickerBusqueda"></mat-datepicker-toggle>
                                <mat-datepicker #pickerBusqueda></mat-datepicker>
                            </mat-form-field>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="Total">Total de resultados de la búsqueda</mat-checkbox>
                                        <mat-checkbox formControlName="Suma">Suma total de los montos</mat-checkbox>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="Promedio">Promedio de los montos</mat-checkbox>
                                        <mat-checkbox formControlName="Menor">Monto menor de los montos</mat-checkbox>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="Mayor">Monto mayor de los montos</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-2">
                                    <button mat-raised-button color="accent" (click)="Search()"><i class="fas fa-search"></i>
                                    Buscar</button>
                            </div>
                            <div class="col-md-2">
                                    <button mat-raised-button color="accent" (click)="obtenerAltasMedicas()"><i class="fas fa-undo-alt"></i>
                                    Reiniciar Búsqueda
                                    </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="card-body" id="paraImprimir">
                    <table class="table table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nombre del paciente</th>
                                <th>Fecha de ingreso</th>
                                <th>Fecha de alta médica</th>
                                <th>Monto total pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of todasAltasMedicas, let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.NombrePaciente}}</td>
                                <td>{{item.FechaIngreso}}</td>
                                <td>{{item.FechaSalida}}</td>
                                <td>RD$ {{item.Monto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro =='Paciente' && opc != null">Total de pacientes dados de alta: {{this.opc.Sumatoria}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Paciente' && opc != null">Suma total de los montos: RD$ {{this.opc.Conteo}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Paciente' && opc != null">Promedio de los montos: RD$ {{this.opc.Promedio}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Paciente' && opc != null">Monto mínimo: RD$ {{this.opc.MontoMenor}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Paciente' && opc != null">Monto máximo: RD$ {{this.opc.MontoMayor}}</p>

                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro =='Fecha' && opc != null">Total de fechas de alta médica: {{this.opc.Sumatoria}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Fecha' && opc != null">Suma total de los montos: RD$ {{this.opc.Conteo}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Fecha' && opc != null">Promedio de los montos: RD$ {{this.opc.Promedio}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Fecha' && opc != null">Monto mínimo: RD$ {{this.opc.MontoMenor}}</p>
                                <p class="text-success ProductSans" *ngIf="busquedas.value.Filtro == 'Fecha' && opc != null">Monto máximo: RD$ {{this.opc.MontoMayor}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12" *ngIf="!cargando">
                            <button mat-raised-button color="accent" (click)="capturar()" class="mb-3"><i class="fas fa-file-pdf"></i>
                            Convertir a PDF
                            </button>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center" *ngIf="cargando">
                            <button mat-button><mat-spinner diameter="40"></mat-spinner> Descargando...</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>



