<mat-toolbar class="navegador ProductSans text-white" style="box-shadow: 3px 3px 10px 3px lightgray;" color="primary">
    <span>Sistema de Control Médico</span>
    <span><a  class="ProductSans" mat-button (click)="Medicos()">Administrar Médicos</a></span>
    <span><a  class="ProductSans" mat-button (click)="Pacientes()">Administrar Pacientes</a></span>
    <span><a  class="ProductSans" mat-button (click)="Habitaciones()">Administrar Habitaciones</a></span>
    <span><a  class="ProductSans" mat-button (click)="Citas()">Agendar Citas</a></span>
    <span><a  class="ProductSans" mat-button (click)="Ingresos()">Registrar Ingresos</a></span>
    <span><a  class="ProductSans" mat-button (click)="AltaMedica()">Dar Altas Médicas</a></span>
</mat-toolbar>