<div>
    <app-navbar></app-navbar>
</div>
<div class="container-fluid">
    <div class="row ProductSans mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center text-white" style="background:#004D40;"><h3>Agregar Médico</h3></div>
                    <div class="card-body">
                        <form>
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput >
                                <mat-label class="ProductSans"><i class="fas fa-user-md"></i> 
                                Nombre</mat-label>
                            </mat-form-field>
                            <div class="form-group">
                                <label for="exequatur"><i class="fas fa-paperclip"></i> 
                                Subir exequatur (PDF)</label>
                                <input type="file" id="exequatur">
                            </div>

                            <mat-form-field style="width: 100%;">
                                <mat-label><i class="fas fa-stethoscope"></i> Especialidad</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of Especialidades" [value]="i">{{i}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                        <div style="width: 100%;" class="text-center">
                            <button mat-raised-button color="primary"><i class="fas fa-plus-circle"></i>
                            Agregar Médico</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
