<div>
    <app-navbar></app-navbar>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="contenedorTitulo">
                <h1 class="titulo">Administración de médicos</h1>
            </div>
            <div style="z-index: 1; margin-left: -16px; width: 100%; background: black; opacity: 0.5; height: 400px;" class="position-absolute">
            </div>
            <div style="width: 100%; height: 400px; background-image: url('./../../assets/img/portada.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ProductSans mt-3">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header text-center text-white" style="background:#004D40;" *ngIf="!comprobar"><h3>Agregar Médico</h3></div>
                <div class="card-header text-center text-white" style="background:#004D40;" *ngIf="comprobar"><h3>Editar Médico</h3></div>
                    <div class="card-body">
                        <form [formGroup]="fg">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput formControlName="Nombre">
                                <mat-label class="ProductSans"><i class="fas fa-user-md"></i> 
                                Nombre completo</mat-label>
                            </mat-form-field>

                            <div *ngIf="Nombre.invalid &&(Nombre.touched || Nombre.dirty)">
                                <mat-error *ngIf="Nombre.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
    
                                <mat-error *ngIf="Nombre.errors.minlength">
                                    Ingresa al menos 3 carácteres
                                </mat-error>
    
                                <mat-error *ngIf="Nombre.errors.maxlength">
                                    Solo puedes insertar 30 carácteres.
                                </mat-error>
                           </div>

                           <mat-form-field style="width: 100%;">
                               <mat-label><i class="fas fa-file"></i> 
                                Exequatur (No. Decreto)</mat-label>
                                <input matInput type="text" formControlName="Exequatur">
                           </mat-form-field>

                           <div *ngIf="Exequatur.invalid &&(Exequatur.touched || Exequatur.dirty)">
                            <mat-error *ngIf="Exequatur.errors.required">
                                Este campo es <strong>obligatorio</strong>
                            </mat-error>
                            <mat-error *ngIf="Exequatur.errors.maxlength">
                                No puedes insertar más de 10 carácteres
                            </mat-error>
                            <mat-error *ngIf="Exequatur.errors.pattern">
                                Solo puedes escribir números aquí
                            </mat-error>
                         </div>
                                
                            <mat-form-field style="width: 100%;">
                                <mat-label><i class="fas fa-stethoscope"></i> Especialidad</mat-label>
                                <mat-select formControlName="Especialidad"> 
                                    <mat-option *ngFor="let especialidad of Especialidades" [value]="especialidad">{{especialidad}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="Especialidad.invalid &&(Especialidad.touched || Especialidad.dirty)">
                                <mat-error *ngIf="Especialidad.errors.required">
                                    Este campo es <strong>obligatorio</strong>
                                </mat-error>
                           </div>

                        </form>
                        <div style="width: 100%;" class="text-center" *ngIf="!comprobar">
                            <button mat-raised-button class="text-white" (click)="addMedico()" color="accent" [disabled]="!fg.valid"><i class="fas fa-plus-circle"></i>
                            Agregar Médico</button>
                        </div>

                        <div style="width: 100%;" class="text-center" *ngIf="comprobar">
                            <button mat-raised-button class="text-white" color="accent" (click)="modificarMedico()" [disabled]="!fg.valid"><i class="fas fa-check-circle"></i>
                            Guardar Cambios</button>
                        </div>
                </div>
            </div>
        </div>
            <div class="col-md-8">
               <div class="card mb-4">
                <div class="card-header ProductSans text-center text-white" style="background: #004D40;"><h3>Médicos registrados</h3></div>
                <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl ">
                        <thead>
                            <tr class="text-center">
                                <th>No.</th>
                                <th>Nombre</th>
                                <th>Exequatur</th>
                                <th>Especialidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let item of todosMedicos, let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.Nombre}}</td>
                                <td>{{item.Exequatur}}</td>
                                <td>{{item.Especialidad}}</td>
                                <td><button mat-button (click)="rellenarDatos(i)" ><i class="fas fa-edit"></i></button>
                                <button mat-button class="text-danger" (click)="deleteMedico(i)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               </div> 
            </div>
        </div>
    </div>
