/* You can add global styles to this file, and also import other style files */
@font-face
{
    font-family: 'Product Sans';
    src: url('./assets/font/ProductSans-Regular.ttf');
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Product Sans'; 
}

.ProductSans
{
    font-family: 'Product Sans';
}

.navegador a:hover
{
    text-decoration: none;
    color:white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }



.titulo{
    color: white;
    text-shadow: 3px 3px black;
    font-size: 50pt;
    margin-top: 100px;
    font-family: 'Product Sans';
}

.contenedorTitulo{
    position: absolute;
    z-index: 2;
    width: 90%;
    text-align: center;
    height: 400px;
}